<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TestPrivacyPassport</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Carousel.less" rel="stylesheet/less" type="text/css" />
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/Script.js" type="text/javascript"></script>
    <script src="~/Scripts/Carousel.js"></script>
</head>
<body>
    <div class="navbar navbar-toggleable-md bg-company-balck fixed-top">
        @{
            if ((bool)Session["connected"])
            {
                @Html.ActionLink("TestPrivacyPassport", "Index", "PS", new { area = "" }, new { @class = "navbar-brand color-company-white", id = "app-title" })
            }
            else
            {
                @Html.ActionLink("TestPrivacyPassport", "Index", "Home", new { area = "" }, new { @class = "navbar-brand color-company-white", id = "app-title" })
            }
        }
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><a href="#" class="color-company-white lang">EN</a></li>
            <li class="nav-item"><a href="#" class="color-company-white lang" id="fr">FR</a></li>
            <li class="nav-item"><a href="#" class="color-company-white lang" id="nl">NL</a></li>
        </ul>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TestPrivacyPassport</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>