<div class="modal fade" id="accessInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Title</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                @using (Html.BeginForm("Details", "Service", FormMethod.Post))
                {
                    <div class="modal-body form-group">
                        <input type="hidden" name="id" id="id" value="" required />
                        <label for="name">Name: </label>
                        <input type="text" id="name" class="form-control" name="name" readonly value="@ViewBag.FirstAndLastNames" />
                        <label for="reason">Reason: </label>
                        <input type="text" id="reason" class="form-control" name="reason" placeholder="For the fun" required />
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Ok" />
                    </div>
                }
        </div>
    </div>
</div>
