body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

ul {
    list-style-type: none;
}

#users li {
    margin-top: 1em;
}

#users .btn {
    margin-right: 1em;
}

#user div {
    margin-top: 1em;
}

#user .btn {
    margin-right: 1em;
}

#ManageContainer{
    width: 100%
}

.ManageForm, .SearchForm{
    margin-left: auto;
    margin-right: auto;
}

/* Search bar */
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.userItem{
    width: 300px;
}

#deleteBtn, #manageBtn {
    width: 200px;
}

#CSOlink {
    color: #3c6db0;
}

.txt-color-black {
    color: #ffffff !important;
}

.txt-color-black:hover {
    color: #d0d0d0 !important;
}

.inline-flx{
    display: inline-flex;
}