
@{
    ViewBag.Title = "Index";
}

<h2>Welcome</h2>
<h4>What do you want to do ?</h4>
@Html.ActionLink("Manage BeContracts", "GoToList", "Contract")
<br />
@Html.ActionLink("Manage Adapter Servers", "Index", "ADS")

