@model PublicService.Models.ApplicationUser
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage</h2>
<h5>@User.Identity.GetUserName()</h5>
<p>@Model.FirstName.Value</p>
