body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.input-add-btn, .query-add-btn, .output-add-btn, .mapping-add-btn, .contract-add-btn {
    max-width: 70px;
}

.input-rem-btn, .query-rem-btn, .output-rem-btn, .mapping-rem-btn, .contract-rem-btn {
    width: auto !important;
}

.input, .query, .output, .mapping{
    display: none;
}

.added-input{
    background-color: #f4f8fc;
}

.query {
    background-color: #f4f8fc;
    padding-top: 20px;
}

.mapping {
    background-color: #e5f2fe;
}

.added-output {
    background-color: #f4f8fc;
}

/* BeContracts - ADS */
.added-contract {
    display: flex;
    margin-bottom: 1em;
}

.added-contract > select {
    margin-right: 1em;
}

#search-grp {
    padding-right: 205px !important;
}