
header > ul > li {
    border-left: 1px solid black;
}

li.active {
    border-top: 2px solid black;
}

body {
    padding-top: 50px;
    height: 100vh;
}

.body-content {
    padding: 20px;
    background: radial-gradient(ellipse at bottom, #FFFFFF, #50C2D0, #50C2D0);
    height: 90%;
}

footer {
    height: 10%;
}

#home-page {
    margin: 0 auto;
    margin-top: 100px;
    width: 660px;
}

#home-page > h1 {
    color: white;
}

#eid-connect {
    color: white;
    background-color: rgb(52, 153, 165);
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a, a:active {
    text-decoration: none;
}

.bg-company-balck {
    background-color: #303030;
}

.color-company-black {
    color: #555555;
    text-decoration: none;
}

.color-company-black:hover {
    color: #000000;
    text-decoration: none;
}

#app-title {
    margin-left: 100px;
}

ul {
    list-style-type: none;
}

.ps-title, .ps-title:active, .ps-title:visited {
    text-decoration: none;
    color: #555555;
}

.ps-title:hover {
    text-decoration: none;
    color: #818181;
}

.public-service:hover {
    background-color: azure;
}

#logout {
    margin-left: 10px;
    margin-right: 50px;
    color: #d8d8d8;
}