<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="Hostname" value="40.113.130.186" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Port" value="9228" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BC-Username" value="multichainrpc" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Password" value="4d6BEHfTDwa8Jt9ERpJ8o7okhvkszzrWnPTEJKQHW4NV" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ChainName" value="chain1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BurnAddress" value="1XXXXXXWVPXXXXXXDBXXXXXXbZXXXXXXWmzKkn" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RootNodeAddress" value="1FwpSkGLE3BL5tPqrCF2kEXxDiaZGpduP6nmS9" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="LogContext" connectionString="Server=tcp:be-road.database.windows.net,1433;Initial Catalog=message-log-db;Persist Security Info=False;User ID=Stage2018PrivacyPassport;Password=MIC2018PssPrt;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>