@{
    ViewData["Title"] = "Eid Page";
}

<h2>@ViewData["Title"]</h2>

<p>@ViewData["Extra"]</p>

<form action="@Url.Action("LogIn", "Eid")" method="POST">
    <label>Please insert your card reader and put your ID card in before log in</label>
    <br />
    <input type="submit" value="Log in" />
</form>

<form>
    <input type="button" value="Log out" onclick="location.href='@Url.Action("LogOut", "Eid")'" />
</form>