@{
    ViewBag.Title = "About GDPR";
}

<h1>General Data Protection Regulation (GDPR)</h1>
<h2>What is the GDPR?</h2>
<p>GDPR is a regulation that requires businesses to protect the personal data and privacy of EU citizens for transactions that occur within EU member states. And non-compliance could cost companies dearly.</p>
<p>Companies that collect data on citizens in European Union (EU) countries will need to comply with strict new rules around protecting customer data by May 25. Compliance will cause some concerns and new expectations of security teams. For example, the GDPR takes a wide view of what constitutes personal identification information. Companies will need the same level of protection for things like an individual’s IP address or cookie data as they do for name, address and Social Security number.</p>
<h2>Why does the GDPR exist?</h2>
<p>In short, it’s because of public concern over privacy. Europe in general has long had more stringent rules around how companies use the personal data of its citizens. This directive replaces another one that has been into effect in 1995: The Data Protection Directive. That directive is outdated and does not address many ways in which data is stored, collected and transferred today.</p>
<p>The public concern over privacy is significant and it grows with every new high-profile data breach. Lack of trust in how companies treat their personal information has led some consumers to take their own countermeasures.</p>
<h2>What types of privacy data does the GDPR protect?</h2>
<ul>
    <li>Basic identity information such as name, address and ID numbers</li>
    <li>Web data such as location, IP address, cookie data and RFID tags</li>
    <li>Health and genetic data</li>
    <li>Biometric data</li>
    <li>Racial or ethnic data</li>
    <li>Political opinions</li>
    <li>Sexual orientation</li>
</ul>
<h2>Which companies does the GDPR affect?</h2>
<p>Any company that stores or processes personal information about EU citizens within EU states must comply with the GDPR, even if they do not have a business presence within the EU.</p>
<div class="alert alert-info" role="alert">
    Want to find out more about GDPR ? Go to the source on <strong><a id="CSOlink" target="_blank" href="https://www.csoonline.com/article/3202771/data-protection/general-data-protection-regulation-gdpr-requirements-deadlines-and-facts.html">CSO</a></strong>
</div>