@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-3">Welcome to the Public Service portal </h1>
    <p class="lead">Here you can access all the data that you want, but you need to provide some information if you want to view this data !</p>
    <p class="lead">All this information will be stored in the blockchain forever, so be carefull !</p>
</div>

<section id="home">
    <h3 id="title">I know who you are...</h3>
    <div id="identity"style="display: none;">
        <p id="ip"></p>
        <p id="date"></p>
    </div>
</section>