@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cops Service</h1>
    <p class="lead">This a service where you can put cops info on Azure, so that we Privacy Passport can read this information</p>
    @Html.ActionLink("Put the cars info on azure !", "Azure", "Cars")
</div>