@model Web.Models.PublicServiceData.MockPSDAzure

<div>
    <h4>MockPSDAzure</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TextField)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextField)
        </dd>

    </dl>
</div>